<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Act_2_JustEat</display-name>
  <welcome-file-list>
    <welcome-file>InicioServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListRestaurantServlet</display-name>
    <servlet-name>ListRestaurantServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ListRestaurantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRestaurantServlet</servlet-name>
    <url-pattern>/ListRestaurantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
    <url-pattern>/RegisterServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/rest/LogoutServlet</url-pattern>
    <url-pattern>/LogoutServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
    <url-pattern>/LoginServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/rest/DeleteUserServlet</url-pattern>
    <url-pattern>/DeleteUserServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/rest/EditUserServlet</url-pattern>
    <url-pattern>/EditUserServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditRestaurantList</display-name>
    <servlet-name>EditRestaurantList</servlet-name>
    <servlet-class>es.unex.pi.controller.EditRestaurantList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRestaurantList</servlet-name>
    <url-pattern>/rest/EditRestaurantList</url-pattern>
    <url-pattern>/EditRestaurantList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InicioServlet</display-name>
    <servlet-name>InicioServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.InicioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InicioServlet</servlet-name>
    <url-pattern>/InicioServlet</url-pattern>
    <url-pattern>/rest/InicioServlet</url-pattern>
    <url-pattern>/InicioServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRestaurantListServlet</display-name>
    <servlet-name>UserRestaurantListServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.UserRestaurantListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRestaurantListServlet</servlet-name>
    <url-pattern>/rest/UserRestaurantListServlet</url-pattern>
    <url-pattern>/UserRestaurantListServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreviewRestaurantServlet</display-name>
    <servlet-name>PreviewRestaurantServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.PreviewRestaurantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreviewRestaurantServlet</servlet-name>
    <url-pattern>/rest/PreviewRestaurantServlet</url-pattern>
    <url-pattern>/PreviewRestaurantServlet.do</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Entire Application</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <servlet>
    <description></description>
    <display-name>DeleteRestaurantServlet</display-name>
    <servlet-name>DeleteRestaurantServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.DeleteRestaurantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRestaurantServlet</servlet-name>
    <url-pattern>/rest/DeleteRestaurantServlet</url-pattern>
    <url-pattern>/DeleteRestaurantServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantesBusquedaServlet</display-name>
    <servlet-name>RestaurantesBusquedaServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.RestaurantesBusquedaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantesBusquedaServlet</servlet-name>
    <url-pattern>/rest/RestaurantesBusquedaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdersServlet</display-name>
    <servlet-name>OrdersServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.OrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersServlet</servlet-name>
    <url-pattern>/rest/OrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DishListServlet</display-name>
    <servlet-name>DishListServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.DishListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DishListServlet</servlet-name>
    <url-pattern>/rest/DishListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DishEditServlet</display-name>
    <servlet-name>DishEditServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.DishEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DishEditServlet</servlet-name>
    <url-pattern>/rest/DishEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDishServlet</display-name>
    <servlet-name>DeleteDishServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.DeleteDishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDishServlet</servlet-name>
    <url-pattern>/rest/DeleteDishServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <description></description>
  <display-name>ReviewsServlet</display-name>
  <servlet-name>ReviewsServlet</servlet-name>
  <servlet-class>es.unex.pi.controller.ReviewsServlet</servlet-class>
</servlet>
  <servlet-mapping>
    <servlet-name>ReviewsServlet</servlet-name>
    <url-pattern>/rest/ReviewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewOrderServlet</display-name>
    <servlet-name>NewOrderServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.NewOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewOrderServlet</servlet-name>
    <url-pattern>/rest/NewOrderServlet</url-pattern>
  </servlet-mapping>
</web-app>